header{
    background: #101c2c;
    background-repeat: no-repeat;
}
header ::after{
    display: table;
    clear: both;
    content: '';
}
h1{
    float: left;
    margin-left: 25px;
    color:#ffffff;
}

nav {float: right;}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
nav a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.subject{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
.subject img{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}


.search-bar{

    background: rgba(255, 255, 255, 0.2);
    display: flex;
    border-radius: 60px;
    padding: 5px 6px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{

    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 1px 20px;
    font-size: 15px;
    color: #ffffff;
    border-radius: 60px;
    width: 150px;
}

.search-bar input::placeholder{
    color: #fff;
}

.search-bar button img{
    width: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #101c2c;
    cursor: pointer;
    padding-left: 5px;
}

.register{
    padding:5px 25px 5px 25px;
    background: #FEB846 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 24px;
    text-align: center;
    font: normal normal normal 25px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.login{
    padding:5px 40px 5px 40px;
    /*same with as register*/

    background: #788DB6 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 24px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 25px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
}

body{
    margin: 0;
    padding: 0;
}

.top{
    background-image: linear-gradient(rgba(0,8,51,0.8),rgba(0,8,51,0.8)), url(img/background3.jpg);
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.box{
    position: relative;
    top: 15vh;
    max-width: 600px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);
}

.box p.quote{
    margin: 0;
    padding: 0;
    font: Times;
    font-size: 25px;
    color: #fff;
}

.box p.author{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font: Helvetica;
    font-size: 25px;
    color: #ffffffa5;
    text-align: right;
}

.middle{
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.back{
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);
    position: relative;
    top: -50px;
    width: 80%;
}

.back_flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}
.card{
    padding: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}
.card p{
    width: 80%;
}
.trio{
    width: 80%;
    align-items: center;
}

.link{
    text-decoration: none;
    color: black;
}


.bottom{
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    flex-direction: column;


    text-align: left;
    font-size: 20px;
    font-family: Impact;
    color: black;
    font-weight:200;
    padding-left: 7vw;
    padding-right: 7vw;
}
.card__parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: fit-content;
    padding: 20px;

    background-color: #fff;
}

.card__parent img{
    margin-bottom: 5px;
    aspect-ratio: 16/9;
}
.six{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    align-items: center;

    width: 100%;
    margin: 20px 0;

}
.subtitle{
    align-self: start;
    
}

.more-posts
{
    margin-bottom: 30px;
}
.more-posts button{
    background-color: #FCA311;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.aside{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;

    width: 100vw;
    height: 100vh;

    background-color: #373636ed;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight:200;
    padding-left: 7vw;
    padding-right: 7vw;
}
.aside__cathegory
{
    display:block;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}
.not-overflow
{
    overflow: hidden;
}
.login_container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100vw;
    height: 100vh;

    background: #e5e5e572 0% 0% no-repeat padding-box;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.login_form{
    width: 55%;
    height: 65%;
    padding: 20px;
    padding-top: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_form p {
    font: normal normal 600 30px Segoe UI;
    letter-spacing: 0px;
    color: #3B3B3B;
}
.login_form label{
    margin-left: 10px;
    display: block;
    font: normal normal 400 20px Segoe UI;
    letter-spacing: 0px;
    color: #3B3B3B;
    
}
.login_form input
{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 10px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 7px;
}
.login_form input[type=submit]
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50px;

    background: #FCA311 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 7px;

    color: #FFFFFF;
}
.center_submit{
    width: 100%;

    display: flex;
    justify-content: center;
}
.error_message{
    color:red;
}
.login_form-container
{
    margin-top: 40px;
    width: 70%;
    height: 100%;

}


.register_container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100vw;
    height: 100vh;

    background: #e5e5e572 0% 0% no-repeat padding-box;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.register_form{
    width: 55%;
    height: 65%;
    padding: 20px;
    padding-top: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.register_form p {
    font: normal normal 600 30px Segoe UI;
    letter-spacing: 0px;
    color: #3B3B3B;
}
.register_form label{
    margin-left: 10px;
    display: block;
    font: normal normal 400 20px Segoe UI;
    letter-spacing: 0px;
    color: #3B3B3B;
    
}
.register_form input
{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 10px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 7px;
}
.register_form input[type=submit]
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50px;

    background: #FCA311 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 7px;

    color: #FFFFFF;
}
.center_submit{
    width: 100%;

    display: flex;
    justify-content: center;
}
.error_message{
    color:red !important;
}
.register_form-container
{
    margin-top: 40px;
    width: 70%;
    height: 100%;

}