.top{
    background-image: linear-gradient(rgba(0,8,51,0.8),rgba(0,8,51,0.8)), url(img/background3.jpg);
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.box{
    position: relative;
    top: 15vh;
    max-width: 600px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);
}

.box p.quote{
    margin: 0;
    padding: 0;
    font: Times;
    font-size: 25px;
    color: #fff;
}

.box p.author{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font: Helvetica;
    font-size: 25px;
    color: #ffffffa5;
    text-align: right;
}

.middle{
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.back{
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);
    position: relative;
    top: -50px;
    width: 80%;
}

.back_flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}
.card{
    padding: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    text-align: center;
    cursor: pointer;

    height: 250px;
}
.card p{
    width: 80%;
    text-decoration: none;
    color: black;
    height: 20%;
}
.link{
    text-decoration: none;
    color: black;
    height: 90%;
}
.trio{
    max-height: 100%;
    object-fit: contain;
}




.bottom{
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    flex-direction: column;


    text-align: left;
    font-size: 20px;
    font-family: Impact;
    color: black;
    font-weight:200;
    padding-left: 7vw;
    padding-right: 7vw;
}
.card__parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 220px;
    padding: 20px;

    background-color: #fff;
}
.img-container{
    height: 80%;
    flex-grow: 3;
    flex-shrink: 1;
}
.img-container img{
    height: 100%;
    object-fit: contain;
    margin-bottom: 5px;
    aspect-ratio: 16/9;
}
.card__parent p{
    height: 20%;
    flex-grow: 1;
    flex-shrink: 1;
}
.six{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    align-items: center;

    width: 100%;
    margin: 20px 0;

}
.subtitle{
    align-self: start;
    
}

.more-posts
{
    margin-bottom: 30px;
}
.more-posts button{
    background-color: #FCA311;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}