{% extends 'base.html' %}
{%load static%}
{% block statics %}
<link rel="stylesheet" href="{% static 'user_system/my_publications.css' %}">
{% endblock  %}


{% block content %}
    <div class="container" x-data="{ show_saved:false }">
        <div class="middle1">
            {% if user.image %}
            <img src="{{user.image.url}}" class="profile">
            {% else %}
            <img src="{% static 'img/user_default.png' %}" class="profile">
            {% endif %}
            <div class="user-info-container">
                <p class="usernumber">{{user.username}}</p>
                <p class="mail">{{user.email}}</p>
            </div>
        </div>

        <div class="middle2">
            <button type="button" class="bton">Compartir</button>
            <button type="button" class="bton">Editar Perfil</button>
        </div>

        <!-- FUTURE IMPROVEMENTS -->
        <!--
        <div class="middle3">
            <button type="button" class="choice" :class="show_saved ? 'active':''" @click="show_saved=true">Saved</button>
            <button type="button" class="choice" :class="show_saved ? '':'active'" @click="show_saved=false">Created</button>
        </div>
        -->
        <!--
        <div class="middle4" x-show="show_saved" >
            <p class="publish">Saved publications</p>
            
            

            <div class="bottom">
                <p class="new">Aún no hay nada para mostrar. Los papers que crees se almacenarán aqui.</p>

                <form action="" class="more-posts">
                    <button type="submit">Load More Posts</button>
                </form>
            </div>


        </div>
        -->
        <div class="middle4" x-show="!show_saved">
            <p class="publish">My publications</p>
            {% if publications %}
            {% for publication, content in publications.items  %}
            <div class="box" @click="window.location.replace('/articles/{{publication.id}}/edit')"> 
                <div class="titles">
                    <h2>{{publication.title}}</h2>
                    {% if content.1.text %}
                    <p class="description">{{content.1.text}}</p>
                    {% else %}
                    <p class="description">This is your first text</p>
                    {% endif %}
                    
                </div>
                {% if  content.0.file_path %}
                <img src="{{content.0.file_path.url}}" class="thumbnail">
                {% else %}
                <img src="{% static 'user_system/img/background1.jpg' %}" class="thumbnail">
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <div class="bottom">
                <p class="new">Aún no hay nada para mostrar. Los papers que crees se almacenarán aqui.</p>

                <form action="" class="more-posts">
                    <button type="submit">Load More Posts</button>
                </form>
            </div>
            {% endif %}
        
            

            
        </div>
        <div class="placement" x-data="{ show_add:false }">
            <div class="add-button" @click="show_add=!show_add" :class="show_add ? '':'no-add'">
                +
            </div>
            <div class="add" x-show="show_add" x-transition.duration.500ms>
                <p class="create">Create</p>
                <form action="" class="entry" x-ref="new_publication" method="post">
                    {% csrf_token %}
                    {{form}}
                </form>
            </div>
        </div>
    </div>
{% endblock  %}