{% extends 'base.html' %}
{% load static %}

{% block statics %}
<link rel="stylesheet" href="{% static 'user_system/review_publication.css' %}">
{% endblock %}


{% block content %}
    <div class="position">
        <div class = "box">
            <h2>Dear (user), do you wish to correct any paper ?</h2>

            <div class = "duo">
                {% if available %}
                    <a href="{% url 'user_system:reviewing_publication' %}" class="bton">Correct Paper</a>
                {% else %}
                    <a href="{% url 'user_system:do_you_want_available' %}" class="bton">Correct Paper</a>
                {% endif %}
                    <a href="{% url 'user_system:my_publications' %}" class="bton">Go to my publications</a>
            </div>
        </div>
    </div>
{% endblock %}
