header{
    background: #101c2c;
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;

    display: flex;
    align-items: center;
    /*Meanwhile added*/
    justify-content: center;
}
header ::after{
    display: table;
    clear: both;
    content: '';
}

.navtop{float: left;}
.ultop{
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.menu{
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #ffffff;
    width: 80px;
    background-color: #383c4c;
    font-family:'Segoe UI';
    font-weight: 400px;
    font-size: 10px;

    cursor: pointer;
}

main{
    /*
    display:grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;

    height: calc(100vh - 80px);*/
}

.rightcol {
    grid-column: 2 / 3;
    color: #ffffff;
    background:#bebebe;
    padding: 5px;
 }

.texto{
    padding-top: 40px;
    padding-left: 20px;
    color: rgb(102, 102, 102);
    font-size: 15px;
 }

 .tools{
    padding-left: 15px;
 }
 
.col{
    width: 90%;
    border-radius: 4px;
    padding: 5px;
    box-shadow: #00000059 0px 5px 15px;
}

.font_div{
    padding-top: 10px;
    padding-left: 10px;
}

.font{
    border: none;
    background-color: transparent;
    font-size: 15px;
    width: 100px;
}

.box {
    padding: 5px;
    padding-bottom: 0px;
}

input[type=number] {
    outline: none;
    border: none;
    color: #131c35;
    background-color: transparent;
    font-size: 15px;
    padding: 10px 0px;
    margin-left: 8px;
}

.bton{
    border: none;
    color: #131c35;
    font-size: 15px;
    font-weight: 300;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    width: 25px;
}
.bton:hover {
    background-color: #40576d1a;
}

.bton.active {
    background-color: #73b1e333;
    color: #5271ff;
}

.third .bton:focus {
    background-color: #73b1e333;
    color: #5271ff;
}

.area{/*
    grid-column: 1 / 2;
    grid-row: 1 / 2;*/
    display:flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;

}
.blocks-container{
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.blocks-container:first-child{
    border-top: 1px solid rgb(203, 203, 203);
}
.block{
    position:relative;

    margin-left: 0px;
    margin-top: 0.5px;
    margin-bottom: 2px;

    width: 100%;
    border-bottom: 1px solid rgb(203, 203, 203);
    min-height: 35px;

    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    align-items: center;
}

.plus{
    color: rgb(203, 203, 203);
    font-size: 30px;
    border: none;
    background-color: transparent;    
}       

.option{
    color: rgb(203, 203, 203);
    font-size: 25px;
    font-weight: 4000px;
    border: none;
    background-color: transparent;    
}    

.text_container{
    padding: 10px;
    margin-left: 10px;

    width: 100%;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

.dropdown{
    position: absolute;
    top:0px;
    left: 35px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 300px;
    overflow-y: scroll;
    
    
    border: 0.5px solid #707070;
    opacity: 1;

    background-color: #ffffff;
}
.dropdown::-webkit-scrollbar {
    width: 7px;

  }
.dropdown::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, .8);
  }
.dropdown-title{
    font: normal normal normal 12px/14px Segoe UI;
    letter-spacing: 0px;
    color: #858585;

    margin-top: 10px;
}
.block_type{
    display: flex;
    margin-top: 5px;

    padding: 3px;
}
.block_type-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.image_div{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:15px;
}
.block_type-text_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.block_type-title{
    font: normal normal normal 12px/14px Segoe UI;
    letter-spacing: 0px;
    color: #858585;
}
.block_type-subtitle{
    font: normal normal 300 10px/12px Segoe UI;
    letter-spacing: 0px;
    color: #9f9f9f;
}
.authors-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.references-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.title_container{
    width: 100%;
    text-align: center;
}
.keywords_container{
    font-size: 10px;
    flex-grow: 1;
    padding-top: 5px;
}
.keywords_p{
    display: flex;
    width: 100%;
    gap: 5px;
    text-align: center;
    width: 90%;

}

/* Quizzes  */
.quiz-container{
    width: 100%;
    padding: 10px;
    display: grid;
    place-items: center;

}
.quiz-container h3{
    width: 100%;
}
.quiz-questions{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    background-color: #101c2c;;
}
.quiz-question{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.quiz-question__title{
    color: #fff;

    
}
.quiz-answers{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;

    background-color: #fff;
}
.quiz_answer{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.quiz-answer input{
    accent-color: #101c2c;
}
.quiz-answer label{
    flex-grow: 1;

}
.plus-container{
    width: 100%;
    display: flex;
    justify-content: start;
}
.plus-container button{
    border-radius: 25px;
    height: fit-content;
    width: 21px;
    line-height: 0.7;

}
.hidden{
    display: none;
}

.option:after{
    content: '\2807';
}


.plus:hover {
    background-color: rgb(231, 231, 231);;
}

.option:hover {
    background-color: rgb(231, 231, 231);;
}
.block_type:hover{
    background-color: rgb(231, 231, 231);;
}
.show-comment-container{
    width:30px;
    height: 30px;
    cursor: pointer;
}
.add{
    border: 0.5px solid #707070;
    border-radius: 12px;
    opacity: 1;
    width:300px;
    height: fit-content;
    padding: 10px 15px;
    border: 2px solid #aaaaaa;
    margin-right: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.entry{
    
    border-radius: 13px;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.entry-input{
    
    
    font-size: 15px;
    border-radius: 5px;

    width: 100%;
    padding: 5px;
}