{% extends 'base.html' %}
{% load static %}
{% block statics %}
<link rel="stylesheet" href="{% static 'main/design.css' %}">
{% endblock %}
{% block content %}
    <main>
        <section class="top">
            <div class="box">
                <p class="quote">
                    “Lo que todos tenemos que hacer es asegurarnos de que estamos usando la IA de una manera que sea en beneficio de la humanidad, no en detrimento de la humanidad”
                </p>
                <p class="author">~ Tim Cook</p>
            </div>
        </section>

        <section class="middle">
            <div class="back">
                <div class="back_flex">
                    {% for pub in three_most_relevant %}
                    <div class="card" @click="window.location.replace('{% url 'articles:detail' pub.2%}')">
                        <div href="#" class="link">
                            {% if  pub.0.file_path.url %}
                            <img src="{{MEDIA_URL}}{{pub.0.file_path.url}}" class="trio">
                            {% else %}
                            <img src="{% static 'main/img/background3.jpg' %}" class="trio">
                            {% endif %}
                        </div>
                        <p class="link">{{ pub.1 }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="bottom">

           <h2 class="subtitle">Last Articles</h2>
            <div class="six">
                {% for pub in sixth_newer %}
                <a href="{% url 'articles:detail' pk=pub.2%}" class="card__parent link">
                    <div class="img-container">
                        {% if  pub.0.file_path.url %}
                        <img src="{{MEDIA_URL}}{{pub.0.file_path.url}}" >
                        {% else %}
                        <img src="{% static 'main/img/background3.jpg' %}" >
                        {% endif %}
                        
                    </div>
                    <p>{{ pub.1 }}</p>
                </a>
                {% endfor %}
            </div>
            <!--
            <form action="" class="more-posts">
                <button type="submit">Load More Posts</button>
            </form>
            -->
        </section>
    </main>
{% endblock %}
{% block scripts %}{% endblock  %}