{% extends 'base.html' %}
{% load static %}
{% block statics %}
<link rel="stylesheet" href="{% static 'main/design.css' %}">
{% endblock %}
{% block content %}
    <main>
        <section class="top">
            <div class="box">
                <p class="quote">
                    “Lo que todos tenemos que hacer es asegurarnos de que estamos usando la IA de una manera que sea en beneficio de la humanidad, no en detrimento de la humanidad”
                </p>
                <p class="author">~ Tim Cook</p>
            </div>
        </section>

        <section class="middle">
            <div class="back">
                <div class="back_flex">
                    <div class="card">
                        <a href="#" class="link"><img src="{% static 'main/img/background1.jpg'%} " class="trio"></a>
                        <p><a href="#" class="link">Titre numéro 1 à remplir lors de la création de l'article</a></p>
                    </div>
                    <div class="card">
                        <a href="#" class="link"><img src="{% static 'main/img/background1.jpg'%} " class="trio"></a>
                        <p><a href="#" class="link">Titre numéro 2 à remplir lors de la création de l'article</a></p>
                    </div>
                    <div class="card">
                        <a href="#" class="link"><img src="{% static 'main/img/background1.jpg'%} " class="trio"></a>
                        <p><a href="#" class="link">Titre numéro 3 à remplir lors de la création de l'article</a></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="bottom">

           <h2 class="subtitle">Last Articles</h2>
            <div class="six">
                <a href="#" class="card__parent link">
                    <div class="img-container"><img src="{% static 'main/img/background3.jpg'%}" ></div>
                    <p>Titre article 6,4 à remplir par l'auteur une fois l'article écrit</p>
                </a>
                <a href="#" class="card__parent link">
                    <div class="img-container"><img src="{% static 'main/img/background1.jpg'%}" ></div>
                    <p>Titre article 6,4 à remplir par l'auteur une fois l'article écrit</p>
                </a>
                <a href="#" class="card__parent link">
                    <div class="img-container"><img src="{% static 'main/img/background3.jpg'%}" ></div>
                    <p>Titre article 6,4 à remplir par l'auteur une fois l'article écrit</p>
                </a>
                <a href="#" class="card__parent link">
                    <div class="img-container"><img src="{% static 'main/img/background2.jpg'%}" ></div>
                    <p>Titre article 6,4 à remplir par l'auteur une fois l'article écrit</p>
                </a>
                <a href="#" class="card__parent link">
                    <div class="img-container"><img src="{% static 'main/img/background3.jpg'%}" ></div>
                    <p>Titre article 6,4 à remplir par l'auteur une fois l'article écrit</p>
                </a>
                <a href="#" class="card__parent link">
                    <div class="img-container"><img src="{% static 'main/img/background1.jpg'%}" ></div>
                    <p>Titre article 6,4 à remplir par l'auteur une fois l'article écrit</p>
                </a>
            </div>
            <form action="" class="more-posts">
                <button type="submit">Load More Posts</button>
            </form>
        </section>
    </main>
{% endblock %}
{% block scripts %}{% endblock  %}