<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cathedral</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block statics %}
    {% endblock %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

{%if login_error_message%}
<body x-data="{ show_aside:false, show_login:true, show_register:false }" :class=" show_aside ? 'not-overflow' : ''">
{% elif register_error_message%}
<body x-data="{ show_aside:false, show_login:false, show_register:true }" :class=" show_aside ? 'not-overflow' : ''">
{% else %}
<body x-data="{ show_aside:false, show_login:false, show_register:false }" :class=" show_aside ? 'not-overflow' : ''">
{% endif %}
    <header {% if user.is_authenticated %}x-data="{ show_uopt:false }"{% endif %} >
        <div class="header_container">
            <h1 @click="$refs.home.click()">Cathedral</h1>

            <nav >
                <ul>
                    <li><a href="{% url 'main:index' %}" x-ref="home">Home</a></li>
                    <li class="subject" @click="show_aside=!show_aside">
                        Subjects
                        <img src="{% static 'main/img/triangle.svg'%}">
                    </li>
                    
                    <li>
                            <form action="{% url 'main:search' %}" class="search-bar" x-data="{ search : false }" x-ref="search_form" method="get">
                                <input type="text" placeholder="Search..." name="search" x-show="search" x-transition.duration.700ms :class="search ? 'search-placeholder-tobig':'search-placeholder-tosmall'" @keyup.enter="$refs.search_form.submit()">
                                <button type="button" @click="search = !search"><img src="{% static 'main/img/search.png'%}" ></button>
                            </form>
                    </li>
                    
                    {% if user.is_authenticated %}
                    <li class="user_img__container">
                        {% if user.image %}
                            <img src="{{user.image.url}}" class="user_img">
                            
                        {% else %}
                            <img src="{% static 'img/user_default.png'%}" class="user_img" >
                        {% endif %}
                        <svg class="user-options-button" xmlns="http://www.w3.org/2000/svg" width="21.385" height="17.986" viewBox="0 0 21.385 17.986" @click="show_uopt=!show_uopt">
                            <g id="TRIÁNGULO" transform="translate(-4480.434 -272.971)">
                              <path d="M0,0,8.391,12.306" transform="translate(4482.5 274.5)" fill="none" stroke="#fff" stroke-width="5"/>
                              <line id="Línea_14" data-name="Línea 14" x2="8.391" y2="11.39" transform="translate(4482.5 274.5)" fill="none" stroke="#fff" stroke-width="5"/>
                              <path id="Trazado_7" data-name="Trazado 7" d="M9.509,0,4.16,6.922,0,12.306" transform="translate(4490.332 274.5)" fill="none" stroke="#fff" stroke-width="5"/>
                              <path id="Trazado_8" data-name="Trazado 8" d="M0,.311,3.14,3.947,5.528,0Z" transform="translate(4487.832 286.366) rotate(7)" fill="#fff"/>
                            </g>
                          </svg>
                    </li>   
                    {% else %}
                    <li><button class="register" @click="show_register=!show_register">Sign Up</button></li>
                    <li><button class="login" @click="show_login=!show_login">Login</button></li>
                    {% endif %}

                </ul>
                <ul class="aside" x-show="show_aside" x-transition.duration.700ms @click="show_aside=!show_aside" >
                    <li class="aside__cathegory"><a href="{% url 'main:search' %}?category=artificial-intelligence">Artificial Intelligence</a></li>
                    <li class="aside__cathegory"><a href="{% url 'main:search' %}?category=computer-networks">Computer Networks</a></li>
                    <li class="aside__cathegory"><a href="{% url 'main:search' %}?category=operating-systems">Operating systems</a></li>
                    <li class="aside__cathegory"><a href="{% url 'main:search' %}?category=cybersecurity">Cybersecurity</a></li>
                    <li class="aside__cathegory"><a href="{% url 'main:search' %}?category=data-science">Data Science</a></li>
                </ul>
            </nav>
        </div>
        {% if user.is_authenticated %}
        <div class="user-options" x-show="show_uopt" x-transition.duration.700ms :class="show_uopt ? 'uopt-down': 'uopt-up'">
            <aside class="user-options__container">
                <section class="user-options__top">
                    {% if user.image %}
                        <img src="{{user.image.url}}" class="user_img">
                            
                    {% else %}
                        <img src="{% static 'img/user_default.png'%}" class="user_img" >
                    {% endif %}
                    <div class="user-options__top__side">
                        <h2>{{user.username}}</h2>
                        <p>{{user.email}}</p>
                    </div>
                </section>
                <section class="user-options__account">
                    <h2>Your account</h2>
                    <a href="{% url 'user_system:my_publications' %}">My publications</a>
                    <a href="">Review publications</a>
                    <a href="">Profile</a>
                </section>
                <section class="user-options__options">
                    <h2>More options</h2>
                    <a href="">Privacy policy</a>
                    <a href="">Be an evaluator</a>
                    <p @click="$refs.logout_form.submit()">Logout</p>
                </section>
            </aside>
        </div>

        {% endif %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    {% if user.is_authenticated %}
    <form action="" method="post" id="logout_form" x-ref="logout_form" >
        {% csrf_token %}
        <input type="hidden" name="submit_logout" value="Log in">
    </form>
    {% else %}
    <div class="login_container" x-show="show_login">
        <form action="" method="post"  class="login_form" @mousedown.outside="show_login=!show_login">
            {% csrf_token %}
            <p>Welcome to the Cathedral</p>
            <div class="login_form-container">
                {{ login_form }}
                {% if login_error_message %} <p class="error_message">{{ login_error_message }}</p> {% endif %}
                <div class="center_submit"><input type="submit" name="submit_login" value="Log in"></div>
            </div>
            
        </form>
    </div>
    <div class="register_container" x-show="show_register">
        <form action="" method="post"  class="register_form" @mousedown.outside="show_register=!show_register">
            {% csrf_token %}
            <p>Welcome to the Cathedral</p>
            <div class="register_form-container">
                {{ register_form }}
                {% if register_error_message %} <p class="error_message">{{ register_error_message }}</p> {% endif %}
                <div class="center_submit"><input type="submit" name="submit_register" value="Continue"></div>
            </div>
            
        </form>
    </div>
    {% endif %}
    {% block scripts %}{% endblock  %}
</body>

</html>